// COLORs
$grey : #888;


.ln-max-width {
	max-width: 80rem;
}

.h-6 {
	height: 1.5rem;
}

.h-9 {
	height: 2.25rem;
}

.h-16 {
	height: 4rem;
}


.heading {
	font-size:  1.4rem;
	margin-bottom:  0.25rem;
}

.sub-heading {
	font-size:  1.1rem;
	color: $grey;
}

.bg-gray {
	color: #F3F4F6;
}

// Button Styles

// Lists w/ Actions


.ln-list {


	// nested list
	.ln-list {
		margin-top: 1rem;
	}

	.ln-list-item {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		min-height: 100px;
		border-bottom: 1px solid #d5d5d5;
		border-radius: 4px;
		margin-bottom: 1rem;
	}

	.ln-list-item__actions {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.ln-list-item__action:nth-last-child(n+2) {
			margin-right: 0.5rem;
		}
	}
}

.ln-list-item {
	padding: 1rem;

	display: flex;
	align-items: center;
	justify-content: space-between;

}

.list-group-heading {
	display: flex;
}

.ln-list-item__top,
.ln_list-item__bottom {
	padding: 0.5rem;
}

.ln-list-item__top {
	margin-bottom: 1rem;
}

.ln-list-item__left {}

.ln-list-item__right,
.ln-list-item__action {
	display: flex;
}

