.ln-max-width {
	max-width: 80rem;
}

.h-6 {
	height: 1.5rem;
}

.h-9 {
	height: 2.25rem;
}

.h-16 {
	height: 4rem;
}


.heading {
	font-size:  1.4rem;
	margin-bottom:  0.5rem;
}

.sub-heading {
	font-size:  1.1rem;
}

.bg-gray {
	color: #F3F4F6;
}

// Button Styles

// Lists w/ Actions


.ln-list {
}

.ln-list-item {
	padding: 1rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ln-list-item__left,
.ln-list-item__right,
.ln-list-item__action {
	display: flex;
}

